.footer {
    text-align: center;
    font-size: 12px;
    font-family: Segoe UI;
    font-weight: 400;
    line-height: 105px;
    width:100%;
    color: rgba(131, 131, 142, 1);
    opacity: 1;
    height: 105px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 30px rgba(129, 133, 167, 0.1);
    opacity: 1;
    position:fixed;
    
}